*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
    
    margin: 0;
    padding: 0;
    background-color: #64a4e5;

    min-height: 100%;
}

/*NAVEGADOR*/
body.dark-theme {
    background-color: #333333;
    color: #ffffff;
}

header {
    background-color: #000000;
    color: white;
    padding: 15px 0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

nav {
    background-color: #000000;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.nav-menu {
    display: flex;
    gap: 20px;
}

.nav-menu button {
    background-color: #64a4e5;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    border-radius: 4px;
}

.nav-menu button:hover {
    background-color: #ff0000;
}




.switch {
    font-size: 17px;
    left: 100%; 

    position: relative;
    display: inline-block;
    width: 64px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #73C0FC;
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: #e8e8e8;
    transition: .4s;
  }
  
  .sun svg {
    position: absolute;
    top: 6px;
    left: 36px;
    z-index: 1;
    width: 24px;
    height: 24px;
  }
  
  .moon svg {
    fill: #73C0FC;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 24px;
    height: 24px;
  }
  
  /* .switch:hover */.sun svg {
    animation: rotate 15s linear infinite;
  }
  
  @keyframes rotate {
   
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  .moon svg {
    animation: tilt 5s linear infinite;
  }
  
  @keyframes tilt {
   
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(-10deg);
    }
  
    75% {
      transform: rotate(10deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
 
  
  .input:checked + .slider {
    background-color: #183153;
  }
  
  .input:focus + .slider {
    box-shadow: 0 0 1px #183153;
  }
  
  .input:checked + .slider:before {
    transform: translateX(30px);
  }

.container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card {
   
    border-radius: 8px;
    box-shadow:  4px 8px rgb(0 0 0 / 10%);
    overflow: hidden;
    transition: transform 0.2s;
    background-color: #f0f0f0;
    color: #333333;
    
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 20px;
    text-align: center;
}

.card-body h3 {
    font-size: 20px;
  
}
.h3-card{
    display: flex;
    justify-content: center;
}

.card-body p {
    font-size: 16px;
    color: #6c757d;
   
   
}
.p-card{
    display: flex;
    justify-content: center;
    font-weight: bold;
}
.boton-div{
    display: flex;
    justify-content: center;
}

.card-body button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
   
}
.botonn{
    width: 50%;
    margin: 1rem;
    background-color: #007bff;
    color: white;
}

.botonn:hover {
    background-color: #0056b3;
}







/* Estilos para el carrito */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.cart-container {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.cart-items {
    flex: 1 1 50%;
    margin-right: 20px;
    padding-right: 20px;
    border-right: 1px solid #ddd;
}

.cart-summary {
    flex: 1 1 50%;
    padding-left: 20px;
}
.cart-p{
    color: black;
    font-weight: bold;
}

.cart-card {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
   
    border-radius: 8px;
    background-color: #fff;
}

.cart-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 10px;
}

.card-details {
    flex-grow: 1;
}

.btn-carrito {
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: bold;
    gap: 5px;
}
.btn-carrito svg{
    width: 16px; 
    height: 16px;
    fill: currentColor; 
}
.btn-pagar {
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: bold;
}

.btn{
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: bold;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.btn-danger {
    background-color: #dc3545;
    color: #fff;
    display: flex;
    align-items: center;
}

.btn-success {
    background-color: #28a745;
    color: #fff;
}

.total-container {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-container p {
    font-size: 18px;
    font-weight: bold;
}

.empty-cart-msg {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #666;
}

.container {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Section Styles */
#about-intro, #our-team, #why-choose-us {
  margin-bottom: 40px;
  padding: 20px;
}

h2, h3 {
  color: #333;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
}

p {
  margin: 10px 0;
  color: #555;
}

ul {
  
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
  color: black;
  list-style-type: none;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Team Section Styles */
#our-team .team-members {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.team-member {
  max-width: 300px;
  text-align: center;
  margin: 20px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-member:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.team-member img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  border: 2px solid #007bff;
}

.team-member h4 {
  margin-bottom: 5px;
  color: #333;
}

.team-member p {
  color: #777;
  font-size: 0.9em;
}

/* Button Styles */
.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 768px) {
  .team-member {
      max-width: 100%;
  }

  #our-team .team-members {
      flex-direction: column;
      align-items: center;
  }
}

/* Additional Styles */
section {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

section h3 {
  border-bottom: 2px solid #007bff;
  padding-bottom: 10px;
}

.team-member h4 {
  font-family: 'Montserrat', sans-serif;
}

.team-member p {
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 480px) {
  .container {
      padding: 10px;
  }
  
  #about-intro, #our-team, #why-choose-us {
      padding: 10px;
  }
}



/*FOOTER*/
.pie-pagina {
    width: 100%;
    background-color: #000000;

  }
  .pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0;
  }
  .pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pie-pagina .grupo-1 .box img {
    width: 250px;
  }
  .pie-pagina .grupo-1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
  }
  .pie-pagina .grupo-1 .box p {
    color: #efefef;
    margin-bottom: 10px;
  }
  .pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #65a8eb;
    text-align: center;
    transition: all 300ms ease;
  }
  .pie-pagina .grupo-1 .red-social a:hover {
    color: rgb(99, 108, 108);
  }
  .pie-pagina .grupo-2 {
    background-color: #181c20;
    padding: 15px 10px;
    text-align: center;
    color: white;
  }
  .pie-pagina .grupo-2 small {
    font-size: 18px;
  }






  /*FORMULARIO*/
  .div-padre {

    padding: 60px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
}
.form-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    
}
.h1-contact {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: black;
}


.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
}

.form-control {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
    margin-bottom: 10px;
   
}

textarea {
    height: 200px; 
    resize: vertical; 
}
.div-btn-form{
    display: flex;
    justify-content: center;
    text-align: center;
}
.btn-form {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 30%;
}

.btn-form:hover {
    background-color: #0056b3;
}
@media screen and (max-width: 824px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0;
  }
}








